@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:blueviolet;">Wellcome to Football Team App</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2 style="color:brown;">Въвеждане на информация за отбор</h2>            
        <p><a class="btn btn-default" href="http://localhost:57398/Teams/Create"> &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="color:orange;">Извеждане на информация за отбор</h2>
        <p></p>
        <p><a class="btn btn-default" href="Очаквайте скоро!"> &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="color:brown;">Въвеждане на информация за футболисти</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:57398/Players/Create"> &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 style="color:orange;">Извеждане на информация за футболисти</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:57398/Players"> &raquo;</a></p>
    </div>
</div>